@import '~bootstrap/scss/bootstrap';

body {
  text-align: center;
}

h1 {
  margin: 10px;
}

#message-cont {
  display: flex;
  justify-content: center;
  margin: 30px;
  margin-bottom: 50px;
  position: relative;
}

#message {
  text-align: center;
  margin: 0 auto;
  position: absolute;
}
