@import '~bootstrap/scss/bootstrap';

body {
  text-align: center;
}

h1 {
  margin: 10px;
}

#message-cont, #bike-msg-cont {
  display: flex;
  justify-content: center;
  margin: 30px;
  margin-bottom: 50px;
  position: relative;
}

#message, #bike-msg {
  text-align: center;
  margin: 0 auto;
  position: absolute;
}

#bikes-display {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
  #bike-cont{
    border: 1px solid black;
    margin: 10px auto;
    min-width: 700px;
    padding: 20px;

  }
}
